body{
    font-family: cursive;
    color: red;
    background-color: blue;
    border: 2in;
    border-color: aqua;
}

#cabecera{
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-style: italic;
    border-bottom: 2cm;
    background-color: aqua;
}
